.footer {
  width: 100%;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.75);
    &--container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      a {
         color:white;
         padding: 10px 10px;
         text-decoration: none;
        
        &:hover {
          color: silver;
        }
      }

      .footer--nav {
        display: flex;
        // justify-content: space-evenly;
        list-style: none;
      }
    }

    &--icon {
      .fab {
        font-size: 1.5rem;
      }
    }

    p {
      text-align: center;
      padding-top: 1rem;
      // padding-bottom: 0;
      color: silver;
    }
}

@media (max-width: 760px) {
  #footer p {
    font-size: 12px;
  }
  #footer .footer--container a
   {
    font-size: 12px;

    .fab {
      font-size: 1rem;
    }

  }
}


@media(max-width: 480px) {
  .footer .footer--container .footer--nav {
    display:flex;
    flex-direction: column;
    
  }

  .footer .footer--icon {
    a::before {
      padding: 1rem;
    }
  }
}