.Menu {
  padding: 1.8rem;
  position: relative;
  font-family: 'Khand', sans-serif;
  font-weight: bold;
    h1 {
      text-align: center;
      // font-family: 'Permanent Marker', cursive;
      // font-family: 'Bungee Inline', cursive;
      font-family: 'Fredericka the Great', cursive;
     margin-bottom: 1em;
    }

    

    &--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    color: white;

      .Menu--box {
        background-color:  #E1B000;
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img1/tonkotsu-ramen.jpg");
        background-size: cover;
        width: 450px;
        height: 300px;
        margin: 1rem;
        position: relative;
        -webkit-transition: .3s ease-out;
        transition: all .3s ease-out;
        cursor: pointer;

        &::after{
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          transition: opacity .3s ease;        
          background:rgba(0,0,0,0.5);
          opacity: 0;
          z-index: 1;
        }

          &:hover {
            box-shadow: 0 5px 10px black;

            &::after{
              opacity: 1;
              z-index: 1;
            }
            
          }
          h3 {
            font-size: 2rem;
            text-align: center;
            font-weight: 700;
            line-height: 300px;
            font-style: italic;
            z-index: 4;
            position:relative;
          }

          #more {
            position: absolute;
            bottom: 15px;
            right: 15px;
            color: orange;
            font-weight: 700;
            font-size: 1.6rem;
            font-style: italic;
            z-index: 3;

            &:hover {
              // transform: scale(1.2);
              bottom: 15px;
              right: 15px;
            }
          }

      }

      .appetizerBox {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img1/gyoza.jpg");
      }

      .drinkBox {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img1/sake.jpg");
      } 

      .otherBox {
         background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img1/ice.jpg");
      }
   }
}


//pop up 
// .pop-hide {
//   display: none;
// }
.popup-menu {
  display: none;
  width: 75%;
  // top: 10%;
  // left: 15%;
  // transform: translate(-50%, -50%);
  z-index: 99;
  height: 90vh;
  // background-color: #E1B000;
  background-color:#E1B000 ;
  // margin: 0 auto;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  overflow: auto;
  // white-space: nowrap;
  // padding: 0.2em 0.5em;
  // margin: 2em 0;
  background: #ffffffe8;
  box-shadow: 0px 0px 0px 5px #fcfcfc;
  border: dashed 2px #000000;
  padding: 0.2em 0.5em;

  -ms-overflow-style: none;    /* IE, Edge 対応 */
  scrollbar-width: none;
 



    h1 {
      text-align: center;
      // font-family: 'Architects Daughter', cursive;
      // font-family: 'Permanent Marker', cursive;
      // font-family: 'Knewave', cursive;
      font-family: 'Khand', sans-serif;
      border:4px solid black;
      border-radius: 240px 15px 185px 15px / 15px 20px 15px 185px;
      margin: 1em 9em 2em 9em;
    }

    button {
      // float: right;
      margin: 15px;
      position: fixed;
      right: 15px;
      top: 15px;
      border-style: none;
      background-color: inherit;
      cursor: pointer;
      .fas {
        // float: right;
        font-size: 2rem;
  
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }

    // &::-webkit-scrollbar {
    //   width: 8px;
    // }
    // &::-webkit-scrollbar-track {
    //   background: #e1b00046;
    //   border-radius: 10px;
    // }
    // &::-webkit-scrollbar-thumb {
    //   background: #E1B000;
    //   border-radius: 10px;
    // }
    .popup-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;

        .pop-box {
          width: 350px;
          display: flex;
          flex-direction: column;
          padding-bottom: 1.5rem;
          // text-align: center;


          img {
            width: 100%;
            height: 234px;

          }

          .menu-detail {
            display: flex;
            flex-direction: column;
            align-content: left;
            margin : 0 10px 0 10px;
            // justify-content: center;

            .menu-price {
              // padding: 3px 0 0 20px;
              text-align: right;
            }
          }
          
        }
      

    }

}

body.fixed {
  position: fixed;
  left: 0;
}

  @media(max-width: 780px) {
    .popup-menu h1 {
      // margin: 1em 2em 2em 2em;
      margin: 1em 5em;
    }
  } 

  @media(max-width:428px) {
    .popup-menu h1 {
      // margin: 1em 2em 2em 2em;
      margin: 1em 2em;
    }
  }

  #dark2 {
    transition: all 0.6s ease-out;
  }
  .dark2.clicked {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.5;
    z-index: 20;
  }
  